USE [master]
GO
/****** Object:  Database [BANVPP_PhuongNam]    Script Date: 08-Jul-22 11:15:55 PM ******/
CREATE DATABASE [BANVPP_PhuongNam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANVPP_PhuongNam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.N19DCAT067_TAI\MSSQL\DATA\BANVPP_PhuongNam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANVPP_PhuongNam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.N19DCAT067_TAI\MSSQL\DATA\BANVPP_PhuongNam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANVPP_PhuongNam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANVPP_PhuongNam]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](10) NOT NULL,
	[HASHPASS] [varchar](70) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[UPDATEDAT] [datetime] NULL,
	[REGISTEREDAT] [datetime] NOT NULL,
	[LASTLOGIN] [datetime] NULL,
	[IDNHANVIEN] [int] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DH_VP]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DH_VP](
	[SOPD] [varchar](10) NOT NULL,
	[MAVPP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_CT_DH_VP] PRIMARY KEY CLUSTERED 
(
	[SOPD] ASC,
	[MAVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DOI_VOUCHER]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DOI_VOUCHER](
	[IDKH] [int] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[MAVC] [varchar](10) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[DIEM] [int] NOT NULL,
 CONSTRAINT [PK_CT_DOI_VOUCHER] PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC,
	[IDNHANVIEN] ASC,
	[MAVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HD]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HD](
	[SOHD] [varchar](10) NOT NULL,
	[MAVPP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_CT_HD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NH_VP]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NH_VP](
	[SOPN] [varchar](10) NOT NULL,
	[MAVPP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
 CONSTRAINT [PK_CT_NH_VP_1] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MAVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAVPP]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAVPP](
	[MAVPP] [varchar](10) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[GIA] [int] NOT NULL,
 CONSTRAINT [PK_GIAVPP_1] PRIMARY KEY CLUSTERED 
(
	[MAVPP] ASC,
	[IDNHANVIEN] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [varchar](10) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
	[IDKH] [int] NULL,
	[IDNHANVIEN] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[HOTEN] [nvarchar](30) NOT NULL,
	[UPDATEDAT] [datetime] NULL,
	[CREATEDAT] [datetime] NOT NULL,
	[GIOITINH] [tinyint] NOT NULL,
	[DIEM] [int] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
 CONSTRAINT [PK_THEKH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIVPP]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVPP](
	[MALOAI] [varchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LOAIVPP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [varchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_NHACC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[HO] [nvarchar](30) NULL,
	[GIOITINH] [tinyint] NOT NULL,
	[SDT] [varchar](12) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[NGAYSINH] [varchar](10) NOT NULL,
	[CCCD] [varchar](14) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[NGHI] [bit] NULL,
	[NGAYLENQUANLI] [varchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[MAPER] [varchar](10) NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[CREATEDAT] [datetime] NOT NULL,
	[UPDATEDAT] [datetime] NULL,
	[DESCRIPTION] [ntext] NOT NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[MAPER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATHANG]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATHANG](
	[SOPD] [varchar](10) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
	[NGAY] [datetime] NOT NULL,
	[THOIGIANGIAO] [varchar](10) NULL,
	[DIADIEMGIAO] [nvarchar](100) NULL,
	[IDNHANVIEN] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUDATHANG] PRIMARY KEY CLUSTERED 
(
	[SOPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHANHANG]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHANHANG](
	[SOPN] [varchar](10) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
	[NGAY] [datetime] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[SOPD] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUNHANHANG] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[MAROLE] [varchar](10) NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[CREATEDAT] [datetime] NOT NULL,
	[UPDATEDAT] [datetime] NULL,
	[DESCRIPTION] [ntext] NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[MAROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_PERMISSION]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_PERMISSION](
	[MAROLE] [varchar](10) NOT NULL,
	[MAPER] [varchar](10) NOT NULL,
	[CREATEDAT] [datetime] NOT NULL,
	[UPDATEDAT] [datetime] NULL,
 CONSTRAINT [PK_ROLE_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[MAROLE] ASC,
	[MAPER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_USER]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_USER](
	[MAROLE] [varchar](10) NOT NULL,
	[USERNAME] [varchar](10) NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
 CONSTRAINT [PK_ROLE_USER] PRIMARY KEY CLUSTERED 
(
	[MAROLE] ASC,
	[USERNAME] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [varchar](10) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATPHAM]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATPHAM](
	[MAVPP] [varchar](10) NOT NULL,
	[TENVP] [nvarchar](50) NOT NULL,
	[HINH] [varchar](100) NULL,
	[SLT] [int] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[KIEUDANG] [nvarchar](50) NULL,
	[DVT] [nvarchar](20) NULL,
	[KICHTHUOC] [nvarchar](50) NULL,
	[MOTANGAN] [ntext] NULL,
	[MOTACHITIET] [ntext] NULL,
	[MATH] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NOT NULL,
	[MALOAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_VATPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOUCHER]    Script Date: 08-Jul-22 11:15:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUCHER](
	[MAVC] [varchar](10) NOT NULL,
	[GIAMGIA] [money] NOT NULL,
	[HANSUDUNG] [date] NOT NULL,
	[SOHD] [varchar](10) NULL,
	[IDKH] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[DIEM] [int] NOT NULL,
 CONSTRAINT [PK_VOUCHER] PRIMARY KEY CLUSTERED 
(
	[MAVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [HASHPASS], [ACTIVE], [UPDATEDAT], [REGISTEREDAT], [LASTLOGIN], [IDNHANVIEN]) VALUES (N'0000000002', N'$2a$12$AeFbXJEfgTiDqSfs3Z1la.1Kx5ZnQIuOK3otl92d56.2ONhw1SB.K', 1, CAST(N'2022-06-17T15:07:02.110' AS DateTime), CAST(N'2022-04-22T21:00:29.217' AS DateTime), CAST(N'2022-06-17T14:57:59.783' AS DateTime), 2)
INSERT [dbo].[ACCOUNT] ([USERNAME], [HASHPASS], [ACTIVE], [UPDATEDAT], [REGISTEREDAT], [LASTLOGIN], [IDNHANVIEN]) VALUES (N'0000000003', N'$2a$12$G/V5Kqy.CfZPOSbifzMC6eq43afzRUCM5d1yJDJ8LJaJKTbMNdc4a', 1, CAST(N'2022-06-17T09:34:00.760' AS DateTime), CAST(N'2022-04-22T20:56:47.127' AS DateTime), CAST(N'2022-06-15T15:37:32.967' AS DateTime), 3)
INSERT [dbo].[ACCOUNT] ([USERNAME], [HASHPASS], [ACTIVE], [UPDATEDAT], [REGISTEREDAT], [LASTLOGIN], [IDNHANVIEN]) VALUES (N'0000000004', N'$2a$12$u.jsXc62Qg9gIH0Euae1eOOCmZ6h46tCcts/ZgV6vjrSTDZXV.Ws6', 1, CAST(N'2022-06-17T09:59:25.830' AS DateTime), CAST(N'2022-06-15T07:49:07.457' AS DateTime), CAST(N'2022-06-15T08:08:48.613' AS DateTime), 4)
GO
INSERT [dbo].[CT_DH_VP] ([SOPD], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000001', N'3', 10, 2000.0000)
INSERT [dbo].[CT_DH_VP] ([SOPD], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000001', N'4', 10, 2000.0000)
INSERT [dbo].[CT_DH_VP] ([SOPD], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000002', N'3', 10, 1000.0000)
GO
INSERT [dbo].[CT_HD] ([SOHD], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000001', N'1', 1, 10000.0000)
INSERT [dbo].[CT_HD] ([SOHD], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000001', N'2', 10, 20000.0000)
INSERT [dbo].[CT_HD] ([SOHD], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000002', N'1', 2, 10000.0000)
GO
INSERT [dbo].[CT_NH_VP] ([SOPN], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000001', N'3', 10, 1000.0000)
INSERT [dbo].[CT_NH_VP] ([SOPN], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000001', N'4', 10, 1000.0000)
INSERT [dbo].[CT_NH_VP] ([SOPN], [MAVPP], [SOLUONG], [DONGIA]) VALUES (N'0000000002', N'4', 10, 1000.0000)
GO
INSERT [dbo].[GIAVPP] ([MAVPP], [IDNHANVIEN], [NGAY], [GIA]) VALUES (N'1', 1, CAST(N'2022-06-05T17:52:13.800' AS DateTime), 10000)
INSERT [dbo].[GIAVPP] ([MAVPP], [IDNHANVIEN], [NGAY], [GIA]) VALUES (N'1', 2, CAST(N'2022-06-17T15:05:51.617' AS DateTime), 12000)
INSERT [dbo].[GIAVPP] ([MAVPP], [IDNHANVIEN], [NGAY], [GIA]) VALUES (N'2', 1, CAST(N'2022-06-06T09:32:48.460' AS DateTime), 20000)
GO
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAP], [GHICHU], [IDKH], [IDNHANVIEN]) VALUES (N'0000000001', CAST(N'2021-06-05T18:22:55.163' AS DateTime), N'', NULL, 1)
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAP], [GHICHU], [IDKH], [IDNHANVIEN]) VALUES (N'0000000002', CAST(N'2022-06-05T18:29:41.653' AS DateTime), N'', NULL, 1)
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAP], [GHICHU], [IDKH], [IDNHANVIEN]) VALUES (N'0000000003', CAST(N'2022-06-05T18:59:01.280' AS DateTime), N'', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID], [SDT], [HOTEN], [UPDATEDAT], [CREATEDAT], [GIOITINH], [DIEM], [IDNHANVIEN]) VALUES (1, N'0965221516', N'Trương Chí Tài', CAST(N'2022-06-17T15:08:38.307' AS DateTime), CAST(N'2022-06-05T13:09:14.600' AS DateTime), 0, 4900560, 1)
INSERT [dbo].[KHACHHANG] ([ID], [SDT], [HOTEN], [UPDATEDAT], [CREATEDAT], [GIOITINH], [DIEM], [IDNHANVIEN]) VALUES (3, N'0965221517', N'Trương Chí Thông', NULL, CAST(N'2022-06-13T13:53:48.467' AS DateTime), 0, 500, 1)
INSERT [dbo].[KHACHHANG] ([ID], [SDT], [HOTEN], [UPDATEDAT], [CREATEDAT], [GIOITINH], [DIEM], [IDNHANVIEN]) VALUES (4, N'0965221518', N'Trương Văn A', NULL, CAST(N'2022-06-15T08:15:44.053' AS DateTime), 0, 0, 2)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[LOAIVPP] ([MALOAI], [TEN]) VALUES (N'4', N'Bìa nhựa/Bìa còng')
INSERT [dbo].[LOAIVPP] ([MALOAI], [TEN]) VALUES (N'3', N'Giấy Photo')
INSERT [dbo].[LOAIVPP] ([MALOAI], [TEN]) VALUES (N'1', N'Kẹp Giấy')
GO
INSERT [dbo].[NHACC] ([MANCC], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'1', N'Jingu', NULL, NULL, NULL)
INSERT [dbo].[NHACC] ([MANCC], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'1001', N'1001 Co.', N'Quận 1', N'0100110012', N'1001@gmail.com')
INSERT [dbo].[NHACC] ([MANCC], [TEN], [DIACHI], [SDT], [EMAIL]) VALUES (N'102', N'102 Co.', N'Quận 4', N'0101132465', N'102@gmail.com')
GO
INSERT [dbo].[NHANVIEN] ([ID], [TEN], [HO], [GIOITINH], [SDT], [EMAIL], [NGAYSINH], [CCCD], [DIACHI], [NGHI], [NGAYLENQUANLI]) VALUES (1, N'Tài', N'Trương Chí', 0, N'0965221516', N'chitai.truong7@gmail.com', N'2001-09-27', N'072201008097', N'Tây Ninh', 0, NULL)
INSERT [dbo].[NHANVIEN] ([ID], [TEN], [HO], [GIOITINH], [SDT], [EMAIL], [NGAYSINH], [CCCD], [DIACHI], [NGHI], [NGAYLENQUANLI]) VALUES (2, N'Thông', N'Trương Chí', 0, N'0965221517', N'taistudymyself.1@gmail.com', N'1998-09-06', N'072201008098', N'Tây Ninh', 0, NULL)
INSERT [dbo].[NHANVIEN] ([ID], [TEN], [HO], [GIOITINH], [SDT], [EMAIL], [NGAYSINH], [CCCD], [DIACHI], [NGHI], [NGAYLENQUANLI]) VALUES (3, N'Hoa', N'Trương Quỳnh', 1, N'09655221516', N'chitai.truong1@gmail.com', N'2001-06-30', N'072201008099', N'Tây Ninh', 0, NULL)
GO
INSERT [dbo].[PERMISSION] ([MAPER], [TITLE], [ACTIVE], [CREATEDAT], [UPDATEDAT], [DESCRIPTION]) VALUES (N'DHNH', N'Đặt hàng nhận hàng', 1, CAST(N'2022-06-17T10:31:29.440' AS DateTime), NULL, N'Cho phép người dùng làm việc liên quan đến đặt hàng và nhận hàng')
INSERT [dbo].[PERMISSION] ([MAPER], [TITLE], [ACTIVE], [CREATEDAT], [UPDATEDAT], [DESCRIPTION]) VALUES (N'DVC', N'ĐỔI VOUCHER', 1, CAST(N'2022-06-14T08:40:19.653' AS DateTime), NULL, N'CHO PHÉP DÙNG ĐIỂM ĐỂ ĐỔI VOUCHER CHO KHÁCH HÀNG')
INSERT [dbo].[PERMISSION] ([MAPER], [TITLE], [ACTIVE], [CREATEDAT], [UPDATEDAT], [DESCRIPTION]) VALUES (N'GVPP', N'CẬP NHẬT GIÁ VPP', 1, CAST(N'2022-06-14T08:58:59.903' AS DateTime), NULL, N'CẬP NHẬT GIÁ VPP')
GO
INSERT [dbo].[PHIEUDATHANG] ([SOPD], [GHICHU], [NGAY], [THOIGIANGIAO], [DIADIEMGIAO], [IDNHANVIEN]) VALUES (N'0000000001', N'', CAST(N'2022-06-05T20:48:43.497' AS DateTime), N'27/09/2022', N'', 1)
INSERT [dbo].[PHIEUDATHANG] ([SOPD], [GHICHU], [NGAY], [THOIGIANGIAO], [DIADIEMGIAO], [IDNHANVIEN]) VALUES (N'0000000002', N'', CAST(N'2022-06-05T21:06:04.870' AS DateTime), N'27/09/2022', N'', 1)
INSERT [dbo].[PHIEUDATHANG] ([SOPD], [GHICHU], [NGAY], [THOIGIANGIAO], [DIADIEMGIAO], [IDNHANVIEN]) VALUES (N'0000000003', N'', CAST(N'2022-06-05T21:06:43.880' AS DateTime), N'27/09/2022', N'', 1)
GO
INSERT [dbo].[PHIEUNHANHANG] ([SOPN], [GHICHU], [NGAY], [IDNHANVIEN], [SOPD]) VALUES (N'0000000001', N'', CAST(N'2021-06-06T09:09:20.507' AS DateTime), 1, N'0000000002')
INSERT [dbo].[PHIEUNHANHANG] ([SOPN], [GHICHU], [NGAY], [IDNHANVIEN], [SOPD]) VALUES (N'0000000002', N'', CAST(N'2022-01-06T09:29:08.007' AS DateTime), 1, N'0000000003')
INSERT [dbo].[PHIEUNHANHANG] ([SOPN], [GHICHU], [NGAY], [IDNHANVIEN], [SOPD]) VALUES (N'0000000003', N'', CAST(N'2022-06-06T09:29:57.043' AS DateTime), 1, N'0000000004')
GO
INSERT [dbo].[ROLE] ([MAROLE], [TITLE], [ACTIVE], [CREATEDAT], [UPDATEDAT], [DESCRIPTION]) VALUES (N'AD', N'ADMINISSTRATOR', 1, CAST(N'2022-04-22T20:12:56.690' AS DateTime), CAST(N'2022-06-17T14:56:57.613' AS DateTime), N'ADMINISTRATOR')
INSERT [dbo].[ROLE] ([MAROLE], [TITLE], [ACTIVE], [CREATEDAT], [UPDATEDAT], [DESCRIPTION]) VALUES (N'BH', N'NHÂN VIÊN BÁN HÀNG', 1, CAST(N'2022-04-22T20:11:59.767' AS DateTime), CAST(N'2022-06-14T09:00:47.090' AS DateTime), N'NHÂN VIÊN BÁN HÀNG')
INSERT [dbo].[ROLE] ([MAROLE], [TITLE], [ACTIVE], [CREATEDAT], [UPDATEDAT], [DESCRIPTION]) VALUES (N'QL', N'NHÂN VIÊN QUẢN LÍ', 1, CAST(N'2022-04-22T20:12:17.160' AS DateTime), CAST(N'2022-06-14T09:05:01.280' AS DateTime), N'NHÂN VIÊN QUẢN LÍ')
GO
INSERT [dbo].[ROLE_PERMISSION] ([MAROLE], [MAPER], [CREATEDAT], [UPDATEDAT]) VALUES (N'AD', N'PQ', CAST(N'2022-04-22T20:50:19.010' AS DateTime), NULL)
INSERT [dbo].[ROLE_PERMISSION] ([MAROLE], [MAPER], [CREATEDAT], [UPDATEDAT]) VALUES (N'BH', N'DVC', CAST(N'2022-06-14T09:01:54.137' AS DateTime), NULL)
INSERT [dbo].[ROLE_PERMISSION] ([MAROLE], [MAPER], [CREATEDAT], [UPDATEDAT]) VALUES (N'BH', N'TCH', CAST(N'2022-04-22T20:38:18.483' AS DateTime), NULL)
GO
INSERT [dbo].[ROLE_USER] ([MAROLE], [USERNAME], [NGAY], [IDNHANVIEN]) VALUES (N'AD', N'0000000002', CAST(N'2022-06-04T18:10:33.853' AS DateTime), 1)
INSERT [dbo].[ROLE_USER] ([MAROLE], [USERNAME], [NGAY], [IDNHANVIEN]) VALUES (N'AD', N'0000000004', CAST(N'2022-06-15T07:49:07.463' AS DateTime), 1)
INSERT [dbo].[ROLE_USER] ([MAROLE], [USERNAME], [NGAY], [IDNHANVIEN]) VALUES (N'AD', N'0000000005', CAST(N'2022-06-15T15:24:07.037' AS DateTime), 1)
GO
INSERT [dbo].[THUONGHIEU] ([MATH], [TEN]) VALUES (N'1', N'Jinsu')
INSERT [dbo].[THUONGHIEU] ([MATH], [TEN]) VALUES (N'USA', N'Mỹ')
INSERT [dbo].[THUONGHIEU] ([MATH], [TEN]) VALUES (N'TL', N'Thái Lan')
GO
INSERT [dbo].[VATPHAM] ([MAVPP], [TENVP], [HINH], [SLT], [ACTIVE], [KIEUDANG], [DVT], [KICHTHUOC], [MOTANGAN], [MOTACHITIET], [MATH], [MANCC], [MALOAI]) VALUES (N'3', N'DELI E0025 Ghim Vòng- 25MM (Hộp Nhựa) (10C/H)
', N'D:\Java\Ban_VPP_Nha_Sach_PN\src\ban_vpp_nha_sach_pn\16.png', 10, 0, N'Không', N'Hộp', N'25MM ', N'123
akgsdfka', N'1', N'1', N'1', N'1')
GO
INSERT [dbo].[VOUCHER] ([MAVC], [GIAMGIA], [HANSUDUNG], [SOHD], [IDKH], [IDNV], [NGAY], [DIEM]) VALUES (N'0976', 50000.0000, CAST(N'2022-06-23' AS Date), N'0000000011', 1, 1, CAST(N'2022-06-13T13:12:17.660' AS DateTime), 50000)
INSERT [dbo].[VOUCHER] ([MAVC], [GIAMGIA], [HANSUDUNG], [SOHD], [IDKH], [IDNV], [NGAY], [DIEM]) VALUES (N'1', 100000.0000, CAST(N'2032-08-03' AS Date), N'0000000012', 1, 1, CAST(N'2032-07-24T11:55:52.633' AS DateTime), 1000)
INSERT [dbo].[VOUCHER] ([MAVC], [GIAMGIA], [HANSUDUNG], [SOHD], [IDKH], [IDNV], [NGAY], [DIEM]) VALUES (N'4529', 50000.0000, CAST(N'2022-06-23' AS Date), N'0000000013', 1, 1, CAST(N'2022-06-13T13:19:31.307' AS DateTime), 50000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ACCOUNT_IDNV]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [UK_ACCOUNT_IDNV] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CT_DOI_VOUCHER]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[CT_DOI_VOUCHER] ADD  CONSTRAINT [UK_CT_DOI_VOUCHER] UNIQUE NONCLUSTERED 
(
	[MAVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GIAVPP_NGAY]    Script Date: 08-Jul-22 11:15:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_GIAVPP_NGAY] ON [dbo].[GIAVPP]
(
	[NGAY] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HOADON_NGAY]    Script Date: 08-Jul-22 11:15:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_HOADON_NGAY] ON [dbo].[HOADON]
(
	[NGAYLAP] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_KHACHHANG_SDT]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UK_KHACHHANG_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LOAIVPP_TEN]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[LOAIVPP] ADD  CONSTRAINT [IX_LOAIVPP_TEN] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHACC_EMAIL]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [UK_NHACC_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHACC_SDT]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [UK_NHACC_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHACC_TEN]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [UK_NHACC_TEN] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHANVIEN_CCCD]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_NHANVIEN_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHANVIEN_EMAIL]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_NHANVIEN_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_NHANVIEN_SDT]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_NHANVIEN_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PERMISSION_TITLE]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[PERMISSION] ADD  CONSTRAINT [UK_PERMISSION_TITLE] UNIQUE NONCLUSTERED 
(
	[TITLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUDATHANG_NGAY]    Script Date: 08-Jul-22 11:15:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUDATHANG_NGAY] ON [dbo].[PHIEUDATHANG]
(
	[NGAY] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PHIEUNHANHANG_SOPD]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[PHIEUNHANHANG] ADD  CONSTRAINT [UK_PHIEUNHANHANG_SOPD] UNIQUE NONCLUSTERED 
(
	[SOPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUNHANHANG_NGAY]    Script Date: 08-Jul-22 11:15:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUNHANHANG_NGAY] ON [dbo].[PHIEUNHANHANG]
(
	[NGAY] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_THUONGHIEU_TEN]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[THUONGHIEU] ADD  CONSTRAINT [UK_THUONGHIEU_TEN] UNIQUE NONCLUSTERED 
(
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_VATPHAM_TEN]    Script Date: 08-Jul-22 11:15:56 PM ******/
ALTER TABLE [dbo].[VATPHAM] ADD  CONSTRAINT [UK_VATPHAM_TEN] UNIQUE NONCLUSTERED 
(
	[TENVP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_USER_REGISTEREDAT_1]  DEFAULT (getdate()) FOR [REGISTEREDAT]
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER] ADD  CONSTRAINT [DF_CT_DOI_VOUCHER_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[CT_NH_VP] ADD  CONSTRAINT [DF_CT_NH_VP_DONGIA]  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[GIAVPP] ADD  CONSTRAINT [DF_GIAVPP_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_NGAYLAP]  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_CREATEDAT]  DEFAULT (getdate()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_DIEM]  DEFAULT ((0)) FOR [DIEM]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_NGHI]  DEFAULT ((0)) FOR [NGHI]
GO
ALTER TABLE [dbo].[PERMISSION] ADD  CONSTRAINT [DF_PERMISSION_CreatedAt]  DEFAULT (getdate()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[PHIEUDATHANG] ADD  CONSTRAINT [DF_PHIEUDATHANG_NGAYDAT]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PHIEUNHANHANG] ADD  CONSTRAINT [DF_PHIEUNHANHANG_NGAYNHAN]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[ROLE] ADD  CONSTRAINT [DF_ROLE_CreatedAt]  DEFAULT (getdate()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] ADD  CONSTRAINT [DF_ROLE_PERMISSION_CREATEDAT]  DEFAULT (getdate()) FOR [CREATEDAT]
GO
ALTER TABLE [dbo].[ROLE_USER] ADD  CONSTRAINT [DF_ROLE_USER_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[VATPHAM] ADD  CONSTRAINT [DF_VATPHAM_SOLUONGTON]  DEFAULT ((0)) FOR [SLT]
GO
ALTER TABLE [dbo].[VATPHAM] ADD  CONSTRAINT [DF_VATPHAM_ACTIVE]  DEFAULT ((0)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  CONSTRAINT [DF_VOUCHER_HANSUDUNG]  DEFAULT ('1/1/2030') FOR [HANSUDUNG]
GO
ALTER TABLE [dbo].[VOUCHER] ADD  CONSTRAINT [DF_VOUCHER_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_DH_VP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DH_VP_PHIEUDATHANG] FOREIGN KEY([SOPD])
REFERENCES [dbo].[PHIEUDATHANG] ([SOPD])
GO
ALTER TABLE [dbo].[CT_DH_VP] CHECK CONSTRAINT [FK_CT_DH_VP_PHIEUDATHANG]
GO
ALTER TABLE [dbo].[CT_DH_VP]  WITH CHECK ADD  CONSTRAINT [FK_CT_DH_VP_VATPHAM] FOREIGN KEY([MAVPP])
REFERENCES [dbo].[VATPHAM] ([MAVPP])
GO
ALTER TABLE [dbo].[CT_DH_VP] CHECK CONSTRAINT [FK_CT_DH_VP_VATPHAM]
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOI_VOUCHER_KHACHHANG] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER] CHECK CONSTRAINT [FK_CT_DOI_VOUCHER_KHACHHANG]
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOI_VOUCHER_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER] CHECK CONSTRAINT [FK_CT_DOI_VOUCHER_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOI_VOUCHER_VOUCHER] FOREIGN KEY([MAVC])
REFERENCES [dbo].[VOUCHER] ([MAVC])
GO
ALTER TABLE [dbo].[CT_DOI_VOUCHER] CHECK CONSTRAINT [FK_CT_DOI_VOUCHER_VOUCHER]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [FK_CT_HD_HOADON]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_VATPHAM] FOREIGN KEY([MAVPP])
REFERENCES [dbo].[VATPHAM] ([MAVPP])
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [FK_CT_HD_VATPHAM]
GO
ALTER TABLE [dbo].[CT_NH_VP]  WITH CHECK ADD  CONSTRAINT [FK_CT_NH_VP_PHIEUNHANHANG] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PHIEUNHANHANG] ([SOPN])
GO
ALTER TABLE [dbo].[CT_NH_VP] CHECK CONSTRAINT [FK_CT_NH_VP_PHIEUNHANHANG]
GO
ALTER TABLE [dbo].[CT_NH_VP]  WITH CHECK ADD  CONSTRAINT [FK_CT_NH_VP_VATPHAM] FOREIGN KEY([MAVPP])
REFERENCES [dbo].[VATPHAM] ([MAVPP])
GO
ALTER TABLE [dbo].[CT_NH_VP] CHECK CONSTRAINT [FK_CT_NH_VP_VATPHAM]
GO
ALTER TABLE [dbo].[GIAVPP]  WITH CHECK ADD  CONSTRAINT [FK_GIAVPP_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[GIAVPP] CHECK CONSTRAINT [FK_GIAVPP_NHANVIEN]
GO
ALTER TABLE [dbo].[GIAVPP]  WITH CHECK ADD  CONSTRAINT [FK_GIAVPP_VATPHAM] FOREIGN KEY([MAVPP])
REFERENCES [dbo].[VATPHAM] ([MAVPP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIAVPP] CHECK CONSTRAINT [FK_GIAVPP_VATPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATHANG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHIEUDATHANG] CHECK CONSTRAINT [FK_PHIEUDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHANHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHANHANG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHIEUNHANHANG] CHECK CONSTRAINT [FK_PHIEUNHANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHANHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHANHANG_PHIEUDATHANG] FOREIGN KEY([SOPD])
REFERENCES [dbo].[PHIEUDATHANG] ([SOPD])
GO
ALTER TABLE [dbo].[PHIEUNHANHANG] CHECK CONSTRAINT [FK_PHIEUNHANHANG_PHIEUDATHANG]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PERMISSION_PERMISSION] FOREIGN KEY([MAPER])
REFERENCES [dbo].[PERMISSION] ([MAPER])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] CHECK CONSTRAINT [FK_ROLE_PERMISSION_PERMISSION]
GO
ALTER TABLE [dbo].[ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PERMISSION_ROLE] FOREIGN KEY([MAROLE])
REFERENCES [dbo].[ROLE] ([MAROLE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLE_PERMISSION] CHECK CONSTRAINT [FK_ROLE_PERMISSION_ROLE]
GO
ALTER TABLE [dbo].[ROLE_USER]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_USER_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[ROLE_USER] CHECK CONSTRAINT [FK_ROLE_USER_NHANVIEN]
GO
ALTER TABLE [dbo].[ROLE_USER]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_USER_ROLE] FOREIGN KEY([MAROLE])
REFERENCES [dbo].[ROLE] ([MAROLE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLE_USER] CHECK CONSTRAINT [FK_ROLE_USER_ROLE]
GO
ALTER TABLE [dbo].[ROLE_USER]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_USER_USER] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ROLE_USER] CHECK CONSTRAINT [FK_ROLE_USER_USER]
GO
ALTER TABLE [dbo].[VATPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VATPHAM_LOAIVPP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIVPP] ([MALOAI])
GO
ALTER TABLE [dbo].[VATPHAM] CHECK CONSTRAINT [FK_VATPHAM_LOAIVPP]
GO
ALTER TABLE [dbo].[VATPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VATPHAM_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[VATPHAM] CHECK CONSTRAINT [FK_VATPHAM_NHACC]
GO
ALTER TABLE [dbo].[VATPHAM]  WITH CHECK ADD  CONSTRAINT [FK_VATPHAM_THUONGHIEU] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
GO
ALTER TABLE [dbo].[VATPHAM] CHECK CONSTRAINT [FK_VATPHAM_THUONGHIEU]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_HOADON]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_KHACHHANG] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_KHACHHANG]
GO
ALTER TABLE [dbo].[VOUCHER]  WITH CHECK ADD  CONSTRAINT [FK_VOUCHER_NHANVIEN] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[VOUCHER] CHECK CONSTRAINT [FK_VOUCHER_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_DH_VP]  WITH CHECK ADD  CONSTRAINT [CK_CT_DH_VP_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CT_DH_VP] CHECK CONSTRAINT [CK_CT_DH_VP_DONGIA]
GO
ALTER TABLE [dbo].[CT_DH_VP]  WITH CHECK ADD  CONSTRAINT [CK_CT_DH_VP_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DH_VP] CHECK CONSTRAINT [CK_CT_DH_VP_SOLUONG]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [CK_CT_HD_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [CK_CT_HD_DONGIA]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [CK_CT_HD_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [CK_CT_HD_SOLUONG]
GO
ALTER TABLE [dbo].[GIAVPP]  WITH CHECK ADD  CONSTRAINT [CK_GIAVPP_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[GIAVPP] CHECK CONSTRAINT [CK_GIAVPP_GIA]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_THEKH_GIOITINH] CHECK  (([GIOITINH]=(2) OR [GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_THEKH_GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_GIOITINH] CHECK  (([GIOITINH]=(2) OR [GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_GIOITINH]
GO
ALTER TABLE [dbo].[VATPHAM]  WITH CHECK ADD  CONSTRAINT [CK_VATPHAM_SLT] CHECK  (([SLT]>=(0)))
GO
ALTER TABLE [dbo].[VATPHAM] CHECK CONSTRAINT [CK_VATPHAM_SLT]
GO
/****** Object:  StoredProcedure [dbo].[DOANHTHUTHEONAM]    Script Date: 08-Jul-22 11:15:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DOANHTHUTHEONAM]
@NAM INT,
@TONGTIEN BIGINT OUTPUT
AS
DECLARE @THANG INT
SET @THANG=1
SELECT THANG=@THANG INTO #TAM
SET @THANG=2
WHILE @THANG<13
BEGIN
	INSERT INTO #TAM VALUES(@THANG)
	SET @THANG=@THANG+1
END;
SELECT T.THANG,ISNULL(SUM(TTHD.TONGTIEN),0) DOANHTHU INTO #TAM1 FROM #TAM T LEFT JOIN
(SELECT HD.SOHD,HD.NGAYLAP,SUM(DONGIA*SOLUONG) TONGTIEN FROM HOADON HD JOIN CT_HD CT ON HD.SOHD=CT.SOHD GROUP BY NGAYLAP,HD.SOHD) TTHD ON MONTH(NGAYLAP)=T.THANG AND YEAR(NGAYLAP)=@NAM
GROUP BY T.THANG
SELECT * FROM #TAM1
SELECT @TONGTIEN=SUM(DOANHTHU) FROM #TAM1
GO
/****** Object:  StoredProcedure [dbo].[DOANHTHUTHEONAM_VP]    Script Date: 08-Jul-22 11:15:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DOANHTHUTHEONAM_VP]
@NAM INT,
@MAVPP VARCHAR(10),
@TONGDOANHTHU BIGINT OUTPUT
AS
DECLARE @THANG INT
SET @THANG=1
SELECT THANG=@THANG INTO #TAM
SET @THANG=2
WHILE @THANG<13
BEGIN
	INSERT INTO #TAM VALUES(@THANG)
	SET @THANG=@THANG+1
END;
SELECT T.THANG,ISNULL(SUM(TTHD.TONGTIEN),0) DOANHTHU INTO #TAM1 FROM #TAM T LEFT JOIN
(SELECT HD.SOHD,HD.NGAYLAP,SUM(DONGIA*SOLUONG) TONGTIEN FROM HOADON HD JOIN CT_HD CT ON HD.SOHD=CT.SOHD AND CT.MAVPP=@MAVPP GROUP BY NGAYLAP,HD.SOHD) TTHD ON MONTH(NGAYLAP)=T.THANG AND YEAR(NGAYLAP)=@NAM
GROUP BY T.THANG
SELECT * FROM #TAM1
SELECT @TONGDOANHTHU=SUM(DOANHTHU) FROM #TAM1
GO
/****** Object:  StoredProcedure [dbo].[GIAMGIATHEONAM]    Script Date: 08-Jul-22 11:15:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GIAMGIATHEONAM]
@NAM INT,
@TONGTIEN BIGINT OUTPUT
AS
DECLARE @THANG INT
SET @THANG=1
SELECT THANG=@THANG INTO #TAM
SET @THANG=2
WHILE @THANG<13
BEGIN
	INSERT INTO #TAM VALUES(@THANG)
	SET @THANG=@THANG+1
END;
SELECT T.THANG,ISNULL(SUM(GIAMGIA),0) GIAMGIA INTO #TAM1 FROM #TAM T LEFT JOIN
( SELECT NGAYLAP,CASE WHEN TONGTIEN-GIAMGIA>=0 THEN GIAMGIA ELSE TONGTIEN END GIAMGIA FROM (SELECT HD.SOHD,NGAYLAP,SUM(DONGIA*SOLUONG) TONGTIEN FROM HOADON HD JOIN CT_HD CT ON HD.SOHD=CT.SOHD GROUP BY NGAYLAP,HD.SOHD) HD1 JOIN VOUCHER VC ON HD1.SOHD=VC.SOHD ) DS ON MONTH(DS.NGAYLAP)=T.THANG AND YEAR(DS.NGAYLAP)=@NAM
GROUP BY T.THANG
SELECT * FROM #TAM1
SELECT @TONGTIEN=SUM(GIAMGIA) FROM #TAM1
GO
/****** Object:  StoredProcedure [dbo].[TIENMUAHANGTHEONAM]    Script Date: 08-Jul-22 11:15:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIENMUAHANGTHEONAM]
@NAM INT,
@TONGTIEN INT OUTPUT
AS
DECLARE @THANG BIGINT
SET @THANG=1
SELECT THANG=@THANG INTO #TAM
SET @THANG=2
WHILE @THANG<13
BEGIN
	INSERT INTO #TAM VALUES(@THANG)
	SET @THANG=@THANG+1
END;
SELECT T.THANG,ISNULL(SUM(TTPN.TONGTIEN),0) TIENMUAHANG INTO #TAM1 FROM #TAM T LEFT JOIN
(SELECT PNH.SOPN,NGAY,SUM(DONGIA*SOLUONG) TONGTIEN FROM PHIEUNHANHANG PNH JOIN CT_NH_VP CT ON PNH.SOPN=CT.SOPN GROUP BY NGAY,PNH.SOPN) TTPN ON MONTH(NGAY)=T.THANG AND YEAR(NGAY)=@NAM
GROUP BY T.THANG
SELECT * FROM #TAM1
SELECT @TONGTIEN=SUM(TIENMUAHANG) FROM #TAM1

GO
USE [master]
GO
